@import "../../../css/animation/transition";

.v-tree-node {

  a {
    color: inherit;
  }

  .v-checkbox {
    margin-right: 0 !important;
  }

  .v-parent-not-expand::before {

    display: inline-block;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
    @include v-transition-time();
  }


  .v-tree-li {
    position: relative;
    width: 100%;
    height: 30px;
    line-height: 30px;

    .v-icon-direction {
      display: inline-block;
      position: absolute;
    }

    &.v-selected {
      color: #409eff;
    }

    &.v-disabled {
      color: #c0c4cc;
      cursor: not-allowed;
    }

    &:not(.v-disabled):hover {
      background-color: #f5f7fa;
      cursor: pointer;
    }
  }
}




