@import "../../../css/color/color";

@mixin alert-type() {

  &.v-tip {

    color: $--color-white;
    background-color: $--bg-info;
    border-color: $--bg-info;

    &.v-isPlain {
      color: $--bg-info-heavier;
      background-color: $--bg-info-plain;
      border-color: $--bg-info-lighter;
    }
  }

  &.v-success {

    color: $--color-white;
    background-color: $--bg-success;
    border-color: $--bg-success;

    &.v-isPlain {
      color: $--bg-success-heavier;
      background-color: $--bg-success-plain;
      border-color: $--bg-success-lighter;
    }
  }

  &.v-warning {

    color: $--color-white;
    background-color: $--bg-warning;
    border-color: $--bg-warning;

    &.v-isPlain {
      color: $--bg-warning-heavier;
      background-color: $--bg-warning-plain;
      border-color: $--bg-warning-lighter;
    }
  }

  &.v-error {

    color: $--color-white;
    background-color: $--bg-danger;
    border-color: $--bg-danger;

    &.v-isPlain {
      color: $--bg-danger-heavier;
      background-color: $--bg-danger-plain;
      border-color: $--bg-danger-heavier;
    }
  }
}

.v-alert {

  &.v-shown {
    display: block;
  }

  &.v-hidden {
    display: none;
  }

  .v-alert-part {

    position: relative;
    display: flex;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: normal;
    color: #909399;
    background-color: #f4f4f5;

    &.v-isCenter {
      justify-content: center;
    }

    @include alert-type();

    .icon {
      display: inline-block;
      position: relative;
      width: 30px;
      text-align: center;

      i {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }

    .v-content {
      display: inline-block;
      position: relative;

      .v-contentTitle {
        line-height: 1.5rem;
        font-size: 1rem;
        font-weight: 700;
      }

      .v-contentDescription {
        font-size: 14px;
        font-weight: 400;
      }
    }

    .v-close {
      position: absolute;
      right: 10px;
      font-size: 14px;

      div {
        display: inline-block;
        float: right;
        margin-top: 3px;
        cursor: pointer;
      }
    }
  }
}


