
.v-breadcrumbItem {

  display: inline-flex;
  position: relative;
  padding: 5px 0;
  line-height: 1.5;
  font-size: 14px;
  font-weight: normal;
  color: #303133;
  white-space: nowrap;

  &.showHref {
    font-weight: 700;

    &:hover {
      cursor: pointer;
      color: #409eff;
    }
  }

  a {
    color: #303133;;
    font-weight: 700;

    &:hover {
      cursor: pointer;
      color: #409eff;
    }
  }

  .separator {

    margin: 0 6px;
    font-weight: normal;

    &.separator {
      color: #303133;
      cursor: default;
    }
  }
}
