
.v-yearpicker {
  border: 1px solid #e4e7ed;
  width: 332px;
  padding: 5px;
  color: #606266;
  font-weight: normal;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  user-select: none;

  .title {
    height: 50px;
    width: 100%;
    line-height: 50px;
    border-bottom: 1px solid #e4e7ed;
    font-size: 14px;
    display: flex;

    & > div:nth-child(1) {
      width: 50px;
      text-align: center;

      &:hover {
        color: #409eff;
        cursor: pointer;
      }
    }

    & > div:nth-child(2) {
      width: 220px;
      text-align: center;
      font-size: 16px;
    }

    & > div:nth-child(3) {
      width: 50px;
      text-align: center;

      &:hover {
        color: #409eff;
        cursor: pointer;
      }
    }
  }

  .content {
    position: relative;
    height: 150px;
    width: 100%;
    font-size: 0;

    & > div {
      display: inline-block;
      width: 80px;
      height: 50px;
      line-height: 50px;
      font-size: 14px;
      text-align: center;

      &.enable:hover,
      &.selected {
        color: #409eff;
        cursor: pointer;
      }

      &.disabled {
        opacity: 0.5;

        &:hover {
          cursor: not-allowed;
          color: #606266;
        }
      }
    }
  }
}



