@import "../../../css/popper/arrow";


.v-date-picker {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  //input的front插槽样式设置
  .v-date-picker-front {
    padding-left: 5px;
    vertical-align: middle
  }

  //input样式设置
  .v-input-content {
    padding: 0 21px 0 5px !important;
  }

  .v-popper {
    padding: 0 5px;
    border: 1px solid #dcdfe6;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);

    .v-popper-content {
      width: 100%;
      padding: 5px 0;
      max-height: 300px;
      overflow: auto;
    }

    @include arrowLeftDeviation();
  }
}


.v-yearpicker {
  border: 1px solid #e4e7ed;
  width: 332px;
  padding: 5px;
  color: #606266;
  font-weight: normal;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  user-select: none;

  .v-title {
    height: 50px;
    width: 100%;
    line-height: 50px;
    border-bottom: 1px solid #e4e7ed;
    font-size: 14px;
    display: flex;

    & > div:nth-child(1) {
      width: 50px;
      text-align: center;

      &:hover {
        color: #409eff;
        cursor: pointer;
      }
    }

    & > div:nth-child(2) {
      width: 220px;
      text-align: center;
      font-size: 16px;
    }

    & > div:nth-child(3) {
      width: 50px;
      text-align: center;

      &:hover {
        color: #409eff;
        cursor: pointer;
      }
    }
  }

  .v-content {
    position: relative;
    height: 150px;
    width: 100%;
    font-size: 0;

    & > div {
      display: inline-block;
      width: 80px;
      height: 50px;
      line-height: 50px;
      font-size: 14px;
      text-align: center;

      &.v-enable:hover,
      &.v-selected {
        color: #409eff;
        cursor: pointer;
      }

      &.v-disabled {
        opacity: 0.5;

        &:hover {
          cursor: not-allowed;
          color: #606266;
        }
      }
    }
  }
}

.v-monthpicker {
  border: 1px solid #e4e7ed;
  width: 332px;
  padding: 5px;
  font-weight: normal;
  color: #606266;
  border-radius: 5px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  user-select: none;
  background-color: #fff;

  .v-title {
    display: flex;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e4e7ed;
    font-size: 14px;

    & > div:nth-child(1) {
      width: 50px;
      text-align: center;
      vertical-align: middle;

      &:hover {
        color: #409eff;
        cursor: pointer;
      }
    }

    & > div:nth-child(2) {
      display: inline-block;
      width: 220px;
      text-align: center;
      font-size: 16px;
      vertical-align: middle;
    }

    & > div:nth-child(3) {
      display: inline-block;
      width: 50px;
      text-align: center;
      vertical-align: middle;

      &:hover {
        color: #409eff;
        cursor: pointer;
      }
    }
  }

  .v-content {
    position: relative;
    height: 150px;
    width: 100%;
    font-size: 0;

    & > div {
      display: inline-block;
      width: 80px;
      height: 50px;
      line-height: 50px;
      font-size: 14px;
      text-align: center;

      &.v-able:hover,
      &.v-selected{
        color: #409eff;
        cursor: pointer;
      }

      &.v-disabled {
        opacity: 0.5;
        &:hover {
          cursor: not-allowed;
          color: #606266;
        }
      }
    }
  }
}

.v-date-time-picker {
  position: absolute;
  width: 292px;
  height: 262px;
  padding: 5px;
  border: 1px solid #e4e7ed;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  box-sizing: border-box;
  background-color: #fff;
  user-select: none;

  .v-title {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #e4e7ed;

    & > .v-year {
      width: 100%;
      height: 40px;
      line-height: 40px;
      font-size: 0;
      text-align: center;

      & > .v-leftYear {
        display: inline-block;
        width: 25px;
        font-size: 12px;
      }

      & > .v-leftMonth {
        display: inline-block;
        width: 25px;
        font-size: 12px;
      }

      & > .v-yearAndMonth {
        display: inline-block;
        width: calc(100% - 100px);
        font-size: 15px;
      }

      & > .v-rightYear {
        display: inline-block;
        width: 25px;
        font-size: 12px;
      }

      & > .v-rightMonth {
        display: inline-block;
        width: 25px;
        font-size: 12px;
      }

      & > .v-leftYear:hover,
      & > .v-leftMonth:hover,
      & > .v-rightYear:hover,
      & > .v-rightMonth:hover,
      & > .v-yearAndMonth > .v-year:hover,
      & > .v-yearAndMonth > .v-month:hover {
        cursor: pointer;
        color: #409eff;
      }
    }

    & > .v-week {
      height: 30px;
      line-height: 30px;
      width: 100%;
      font-size: 0;

      & > div {
        display: inline-block;
        height: 100%;
        width: 40px;
        font-size: 12px;
        text-align: center;
      }
    }
  }

  .v-content {
    width: 100%;
    height: calc(100% - 70px);
    font-size: 0;

    & > div {
      display: inline-block;
      width: 40px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      font-size: 12px;

      &.v-notSelfMonth {
        color: #c0c4cc
      }

      &.v-disabled {
        color: #c0c4cc;
        cursor: not-allowed;
      }

      &.v-canSelect:hover,
      &.v-selected {
        cursor: pointer;
        color: #409eff;
      }
    }
  }
}

