
// 背景颜色
$--bg-primary: #409eff !default;
$--bg-success: #67c23a !default;
$--bg-info: #909399 !default;
$--bg-warning: #e6a23c !default;
$--bg-danger: #f56c6c !default;

$--bg-default-lighter: #c6e2ff !default;
$--bg-primary-lighter: #66b1ff !default;
$--bg-success-lighter: #85ce61 !default;
$--bg-info-lighter: #a6a9ad !default;
$--bg-warning-lighter: #ebb563 !default;
$--bg-danger-lighter: #f78989 !default;

$--bg-default-heavier: #3a8ee6 !default;
$--bg-primary-heavier: #3a8ee6 !default;
$--bg-success-heavier: #5daf34 !default;
$--bg-info-heavier: #82848a !default;
$--bg-warning-heavier: #cf9236 !default;
$--bg-danger-heavier: #dd6161 !default;

$--bg-default-plain: #fff !default;
$--bg-primary-plain: #ecf5ff !default;
$--bg-success-plain: #f0f9eb !default;
$--bg-info-plain: #f4f4f5 !default;
$--bg-warning-plain: #fdf6ec !default;
$--bg-danger-plain: #fef0f0 !default;

//字体颜色
$--color-white: #fff !default;
$--color-font-default: #606266 !default;