.v-input {
  display: inline-block;
  position: relative;
  border: 1px solid #dcdfe6;
  border-radius: 5px;
  font-size: 0;
  color: #606266;
  vertical-align: middle;
  white-space: nowrap;

  &:not(.disabled):hover {
    border-color: #c0c4cc;
  }

  &:not(.disabled).focus {
    border-color: #409eff;
  }

  .v-input-front {
    display: inline-block;
    vertical-align: middle;
  }

  .v-input-behind {
    display: inline-block;
    vertical-align: middle;
  }

  .v-input-content {
    padding: 0 15px;
    border-radius: 5px;
    vertical-align: middle;

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .v-icon-clear {
    display: inline-block;
    color: #cdcdcd;
    padding-right: 10px;
    cursor: pointer;
    vertical-align: middle;

    &.v-hidden {
      visibility: hidden;
    }

    &:hover {
      color: #333333;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}









