.bc {
  position: relative;
  width: 700px;
  height: 300px;
  border: 1px solid gray;
}

.tabs-position-mt10 {
  margin-top: 10px
}

.tabs-position-content {
  margin-top: 50px;
  margin-left: 180px;
}

